body {
  font-family: "Prompt", sans-serif;
  color: #392E26;
  background-color: #FCF8F0;
}


/* ----- Navbar ----- */
.navbar {
  font-family: "Josefin Sans", sans-serif;
  padding: 16px 10%;
}


.navbarTopRow {
  border-bottom: 1px solid #B6A593;
}

.navberItem {
  padding: 16px 25px;
  cursor: pointer;
  font-weight: 500;
}

.navDropdownItem {
  padding: 10px 25px;
  font-weight: 400;
}

.userDropdown {
  padding: 8px 16px;
}

.navDropdownItem:hover {
  background-color: #E2D9CD;
}

/* Mobile view padding */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 16px; /* Reduced padding for mobile */
  }

  .navberItem, .navDropdownItem {
    padding: 8px 16px;
  }

}

/* ----- Input Box ----- */
.inputBox {
  border-bottom: 1px solid #B6A593;
}

.inputBox:focus{
  background-color: #E2D9CD;
  border: none;
}

.inputBox:disabled {
  background-color: #E2D9CD;
  }

.buttonBrown {
  background-color: #392E26;
  color: #FCF8F0;
}


/* ----- Calendar ----- */
.calendar {
  border: 2px solid #B6A593;
  overflow: hidden;
  width: 400px;
  padding: 20px;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.calendarArrow:hover, .calendarIsSelectable:hover, .calendarSelectedTime, .calendarTime:hover {
  background-color: #E2D9CD;
}

.calendarIsSelected {
  background-color: #6B5B4D;
}

.isToday {
  background-color: #E2D9CD;
}